<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <p>Copyright Moving Joburg 2014</p>
        <p><a href="/about">About Us</a> | <a href="/legal/terms">Terms of Use</a> | <a href="/legal/privacy">Privacy Policy</a></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="content text-left">
          <div class="well well-sm">
            <div class="inner">
              {{!-- TODO: Parse HTML for links --}}
              {{@blog.description}}
            </div>
            <div class="details">
              <span>Published with <a href="https://ghost.org">Ghost</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <ul class="nav">
          <li><a href="//twitter.com/movingjoburg" target="_blank"> <i class="fa fa-twitter fa-lg fa-fw"></i> @MovingJoburg</a></li>
          <li><a href="//facebook.com/movingjoburg" target="_blank"><i class="fa fa-facebook fa-lg fa-fw"></i> MovingJoburg</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
